<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chatRoom">
	 <resultMap id="test" type="hashmap"></resultMap>
	<select id="RoomList" parameterType="String" resultType="dto.chatviewDTO">
		
		select  r.* ,c.maxdate from
		(select *
		from chatview where chatRoomid
		in (select distinct chatroomid from
		sapareChatlog where
		membername=#{id}) and membername = #{id}) e,
		(select * from chatview where chatRoomid in
		(select distinct chatroomid
		from
		sapareChatlog where membername=#{id}) and
		membername != #{id}) r,(select max(m.messagedate) as maxdate,m.chatroomid from chatview c,saparechatmsg m 
        where  c.chatroomid = m.chatroomid and c.membername =#{id}
        GROUP BY m.chatroomid) c
		where e.chatroomid = r.chatroomid and e.chatroomid = c.chatroomid(+)
        order by maxdate nulls first
	</select>
	<update id="enterupdate" parameterType="dto.chatviewDTO">
		UPDATE saparechatlog set
		ENTERTIME =sysdate where chatroomid=#{chatRoomId}
		and
		membername=#{memberName}
	</update>
	<update id="exitupdate" parameterType="dto.chatviewDTO">
		UPDATE saparechatlog set
		EXITTIME =sysdate where chatroomid=#{chatRoomId}
		and
		membername=#{memberName}
	</update>
	<select id="RoomLog" parameterType="String" resultType="dto.chatviewDTO">
		select
		b.chatroomid,count(CASE WHEN a.messagedate > b.time THEN 1 ELSE NULL
		END)as isreadcount from saparechatmsg a,
		(select GREATEST(NVL(entertime,'20/01/01'), NVL(exittime,'20/01/01')) as time, chatroomid from chatview where
		chatRoomid
		in (select distinct chatroomid from sapareChatlog where
		membername=#{id}) and membername = #{id}) b
		where a.chatroomid = b. chatroomid
		group by b.chatroomid
		order by chatroomid
		
	</select>
	<select id="FRoomlog" parameterType="dto.chatviewDTO" resultType="dto.chatviewDTO">
	select * from chatview where chatroomid = #{chatRoomId} and membername = #{memberName}
	
	</select>
	<update id="addRoom" parameterType="dto.chatRoomDTO" statementType="CALLABLE">
	 call addroom (#{itemId},#{memberName},#{itemMemberName})
	</update>

	<select id="itemMember" parameterType="int" resultType="String">
		select membername from sapareitem where ITEMID=#{itemId}
	</select>
	
	<select id="getBuyerName" parameterType="int" resultType="dto.chatRoomDTO">
		select a.*, b.nickname, b.profileimg
        from saparechatroom a
        left outer join saparemember b
         on a.membername=b.membername
        where a.itemid=#{itemId}
	</select>
</mapper>