<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="itemFlag">
	
	<insert id="itemflaginsert" parameterType="dto.itemFlagDTO">
		insert into
		sapareItemFlag
		values(sapareItemflag_ItemflagNo_seq.nextval,#{itemId},#{memberName},#{itemFlaggerName},#{itemFlagCategory},#{itemFlagContent},'n')
	</insert>

	<select id="itmeflagSelect" resultType="dto.itemFlagDTO">
		select * from
		sapareQuestion
	</select>
	
	<update id="plusItemFlag" parameterType="dto.itemFlagDTO">
		update sapareitem set itemflagcnt = itemflagcnt + 1 where itemid=#{itemId}
	</update>
	
	<select id="itemFlags" resultType="dto.itemFlagDTO">
		select *from SAPAREITEMFLAG
		where itemFlagres='n'
		order by ITEMFLAGNO DESC
	</select>
	
	<update id="itemFlagUpdate" parameterType="int">
	UPDATE SAPAREITEMFLAG SET ITEMFLAGRES = 'y'
	WHERE ITEMFLAGNO = #{itemFlagNo}
	</update>
	
	<update id="itemFlagHold" parameterType="int">
	UPDATE SAPAREITEMFLAG SET ITEMFLAGRES = 'h'
	WHERE ITEMFLAGNO = #{itemFlagNo}
	</update>
	
	<select id="itemFlagCheck" parameterType="dto.memberDTO" resultType="int">
		select count(*) from sapareitemflag where membername=#{memberName} and itemflagres='n'
	</select>
	
</mapper>