<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="memberFlag">
	<select id="memberFlags" resultType="dto.memberFlagDTO">
		select *from SAPAREMEMBERFLAG
		where MEMBERFLAGRES='0'
		order by memberFlagNo DESC
	</select>

 	<update id="memberFlagUpdate" parameterType="int">
		UPDATE SAPAREMEMBERFLAG SET MEMBERFLAGRES = 1
		WHERE MEMBERFLAGNO = #{memberFlagNo}
	</update> 
</mapper>