<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="memberFlag">

	<insert id="memberFlagInsert" parameterType="dto.memberFlagDTO">
		insert into saparememberflag
		values(saparememberflag_memflagno_seq.nextval,#{memberName},#{memberFlaggerName},#{memberFlagCategory},#{memberFlagContent},'n')
	</insert>
	
	<update id="plusMemberFlag" parameterType="dto.memberFlagDTO">
		update saparememberstatus set memberflagcnt = memberflagcnt + 1 where membername=#{memberName}
	</update>
	
	<select id="memberFlags" resultType="dto.memberFlagDTO">
		select * from SAPAREMEMBERFLAG
		where MEMBERFLAGRES='n'
		order by MEMBERFLAGNO DESC
	</select>

 	<update id="memberFlagUpdate" parameterType="int">
		UPDATE SAPAREMEMBERFLAG SET MEMBERFLAGRES = 'y'
		WHERE MEMBERFLAGNO = #{memberFlagNo}
	</update>
</mapper>