<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="member">
	
	<select id="info" parameterType="dto.memberDTO" resultType="dto.memberDTO">
		select * from sapareMember where memberName=#{memberName}
	</select>
	
	<select id="checkNick" parameterType="dto.memberDTO" resultType="int">
		select count(*) from sapareMember where nickname=#{nickname}
	</select>
	
	<update id="changeNick" parameterType="dto.memberDTO">
		update saparemember set nickname=#{nickname}
		where memberName=#{memberName}
	</update>
	
	<update id="changeAbout" parameterType="dto.memberDTO">
		update saparemember set memberAbout=#{memberAbout}
		where memberName=#{memberName}
	</update>
	
	<update id="changeProfileImg" parameterType="dto.memberDTO">
		update saparemember set profileImg=#{profileImg, jdbcType=VARCHAR}
		where memberName=#{memberName}
	</update>
	
	<update id="changePassword" parameterType="dto.memberDTO">
		update saparemember set memberPw=#{memberPw}
		where memberName=#{memberName}
	</update>
	
	<select id="memberSelect" resultType="dto.memberDTO">
		select memberId, memberPw from sapareMember
		where memberId=#{memberId} and memberPw=#{memberPw}
	</select>

	<select id="loginCheck" resultType="dto.memberDTO">
		select memberId, memberPw from sapareMember
		where memberId=#{memberId} and memberPw=#{memberPw}
	</select>

	<select id="viewMember" resultType="dto.memberDTO">
		select memberId, memberPw  from sapareMember
		where memberId=#{memberId} and memberPw=#{memberPw}
	</select>

	<insert id="signup" parameterType="dto.memberDTO">
		insert into sapareMember
		values(#{memberName,jdbcType=VARCHAR},#{memberId},#{memberPw},#{birthday,jdbcType=VARCHAR},#{phoneNum,jdbcType=VARCHAR},#{profileImg,jdbcType=VARCHAR},#{memberAbout,jdbcType=VARCHAR},#{nickname,jdbcType=VARCHAR})
	</insert>
	
	<select id="checkPhoneNum" parameterType="dto.memberDTO" resultType="int">
		select count(*) from saparemember where phoneNum=#{phoneNum}
	</select>
	
	<update id="changePhoneNum" parameterType="dto.memberDTO">
		update saparemember set phoneNum=#{phoneNum}
		where memberName=#{memberName}
	</update>
	
	<select id="checkPassword" parameterType="dto.memberDTO" resultType="dto.memberDTO">
		select memberPw from saparemember where memberName=#{memberName}
	</select>
	
	<select id="itemMember" parameterType="int" resultType="dto.memberDTO">
		select *
		from saparemember
		where memberName = (select membername from sapareitem
		where itemId=#{itemId})
	</select>

	<select id="itemMemberStat" parameterType="int" resultType="dto.memberStatusDTO">
		select * from saparememberstatus
		where memberName = (select membername
		from sapareitem where itemId=#{itemId})
	</select>
	
	<select id="memberJo" resultType="dto.memberDTO">
		SELECT a.memberId,b.enrollDate,b.memberRank,b.buyCount,b.sellCount,b.memberPremium
		FROM SAPAREMEMBER a
		LEFT OUTER JOIN SAPAREMEMBERSTATUS b ON a.MEMBERNAME = b.MEMBERNAME
		ORDER BY b.enrolldate DESC, a.memberId ASC
	</select>

	<select id="memberIdOrder" resultType="dto.memberDTO">
		SELECT a.memberId,b.enrollDate,b.memberRank,b.buyCount,b.sellCount,b.memberPremium
		FROM SAPAREMEMBER a
		LEFT OUTER JOIN SAPAREMEMBERSTATUS b ON a.MEMBERNAME = b.MEMBERNAME
		ORDER BY a.memberId ASC
	</select>

	<delete id="memberdelete" parameterType="String">
	delete from saparemember where memberId=#{memberId}
	</delete>
	
</mapper>