<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="memberStatus">
	<select id="sInfo" parameterType="dto.memberDTO" resultType="dto.memberStatusDTO">
		select * from sapareMemberStatus where memberName=#{memberName}
	</select>
	
	<update id="cancelMember" parameterType="dto.memberDTO">
		update saparememberstatus set delFlag='y', delDate=sysdate where memberName=#{memberName}
	</update>
	
	<insert id="signupstatus" parameterType="dto.memberDTO">
		insert into saparememberstatus(membername, memberrank, memberpremium, memberpoint, buycount, sellcount, enrolldate, memberflagcnt)
        values(#{memberName}, 'Rank1', 'n', 0, 0, 0, sysdate, 0)
	</insert>
	
</mapper>