<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="review">
	
	<select id="receivedReview" parameterType="dto.memberDTO" resultType="dto.itemDTO">
		select a.itemId, b.memberName, c.reviewNo, c.reviewContent, c.reviewStar, d.profileImg, d.nickname
		from sapareItem a
		left outer join
		    sapareOrder b on a.itemId = b.itemId
		left outer join
		    sapareReview c on b.orderId = c.orderId
		left outer join
		    sapareMember d on b.memberName = d.memberName
		where a.memberName=#{memberName, jdbcType=VARCHAR} and
		reviewNo is not null
		order by a.itemId desc
	</select>
	
	<select id="sentReview" parameterType="dto.memberDTO" resultType="dto.itemDTO">
		select a.itemId, b.memberName, c.reviewNo, c.reviewContent, c.reviewStar, d.profileImg, d.nickname
		from sapareItem a
		left outer join
		    sapareOrder b on a.itemId = b.itemId
		left outer join
		    sapareReview c on b.orderId = c.orderId
		left outer join
		    sapareMember d on b.memberName = d.memberName
		where b.memberName=#{memberName, jdbcType=VARCHAR} and
		reviewNo is not null
		order by a.itemId desc
	</select>
	
	<insert id="submitReview" parameterType="dto.reviewDTO">
		insert into saparereview
        values(saparereview_reviewno_seq.nextval,#{orderId},#{itemId},sysdate,#{reviewContent},#{reviewStar})
	</insert>
</mapper>