<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="wantItem">
	
	<delete id="removeWant" parameterType="dto.memberDTO">
		delete from saparewantitem where memberName=#{memberName} and itemId=#{itemId}
	</delete>
	
	<select id="checkWantItem" parameterType="dto.memberDTO" resultType="int">
		select count(*) from saparewantitem where itemid=#{itemId} and memberName=#{memberName}
	</select>
	
	<insert id="clickWantItem" parameterType="dto.memberDTO">
		insert into saparewantitem values(saparewantitem_wantitemid_seq.nextval, #{memberName}, #{itemId}, #{sellerName})
	</insert>
	
	<delete id="unclickWantItem" parameterType="dto.memberDTO">
		delete from saparewantitem where membername=#{memberName} and itemid=#{itemId}
	</delete>
	
</mapper>